body {
  background-color: black
}

article {
  position: relative;
  background-color: white;
  width: 1000px;
  height: 1000px;
  margin: auto;
}

header {
  background-color: #C86C79;
  height: 100px;
  width: 100%
}

h1 {
  margin: 0;
  font-size: 70px;
  padding: 7px;
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
}

footer {
  font-size: 20px;
  position: relative;
  background-color: grey;
  height: 100px;
  width: 100%;
}

#image {
  background-color: grey;
  width: 440px;
  height: 600px;
  margin: 30px;
  box-shadow: 10px 5px 5px #888888;
  float: left;
}

#description {
  background-color: white;
  width: 440px;
  height: 600px;
  margin: 30px;
  float: right;
}

#specs {
  background-color: white;
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 940px;
  height: 300px;
}

#linkList li {
display: inline;
list-style-type: none;
padding-right: 20px;
}

#desc {
  line-height: 200%;
}

p {
  margin:0;
  font-size: large;
}

ul {
  margin: 5px;
  font-size: large;
}

h3 {
  margin: 0;
  padding: 35px;
  text-align: center;
}